<!--
  Generated template for the RegistrarCalificacionPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar color="primary">
        <ion-title>Registrar calificación</ion-title>
    </ion-navbar>
</ion-header>
<ion-content padding>
        <ion-item text-wrap color="light">
        <ion-label>
            Autopista -> {{ nombreAutopista }}
        </ion-label>
    </ion-item>

    <form #filtroForm="ngForm" novalidate>
        <ion-list no-lines>
            <ion-item>
                <ion-label stacked color="primary">Cuerpo</ion-label>
                <ion-select [(ngModel)]="filtro.cuerpo" name="cuerpo" #cuerpo="ngModel" required okText="Aceptar" cancelText="Cancelar">
                    <ion-option *ngFor="let cuerpo of cuerpos" [value]="cuerpo">
                        {{ cuerpo.descripcion }}
                    </ion-option>
                </ion-select>
            </ion-item>
            <p ion-text [hidden]="cuerpo.valid" color="danger" padding-left *ngIf="cuerpo.invalid && (cuerpo.dirty || cuerpo.touched)">
                El cuerpo es obligatorio.
            </p>
            <ion-item>
                <ion-label stacked color="primary">Sección</ion-label>
                <ion-select [(ngModel)]="filtro.seccion" name="seccion" #seccion="ngModel" required okText="Aceptar" cancelText="Cancelar">
                    <ion-option *ngFor="let seccion of secciones" [value]="seccion">
                        {{ seccion.cadenamiento_inicial_km }} - {{ seccion.cadenamiento_inicial_m }} + {{ seccion.cadenamiento_final_km }} - {{ seccion.cadenamiento_final_m }}
                    </ion-option>
                </ion-select>
            </ion-item>
            <p ion-text [hidden]="seccion.valid" color="danger" padding-left *ngIf="seccion.invalid && (seccion.dirty || seccion.touched)">
                La sección es obligatorio.
            </p>
        </ion-list>
        <ion-row responsive-sm>
            <ion-col>
                <button large ion-button (click)="activarComponente(filtroForm)" type="submit" block [disabled]="filtroForm.invalid">
                    Comenzar
                </button>
            </ion-col>
        </ion-row>
    </form>
    <hr>
    <ion-item-group *ngFor="let elemento of elementos">
        <ion-item-divider text-wrap color="light">
            {{ elemento.descripcion }}
        </ion-item-divider>
        <ion-list>
            <ion-item-sliding #item *ngFor="let defecto of elemento.defectos">
                <ion-item text-wrap>
                    {{ defecto.descripcion }}
                    <p ion-text text-right>
                        {{ defecto.calificacion }}
                    </p>
                </ion-item>
                <!-- <ion-item text-wrap color="light">
                    {{ defecto.calificacionXElemento }}
                </ion-item> -->
                <ion-item-options side="right">
                    <button ion-button [disabled]="submit" color="light" (click)="muestraIntensidades(elemento.id, defecto.id, defecto.descripcion)">Calificar</button>
                </ion-item-options>
            </ion-item-sliding>
        </ion-list>
        <ion-item text-right color="light">
            <ion-label>
                Calificación total {{ elemento.calificacionXElemento }}
            </ion-label>
        </ion-item>
        <hr>
    </ion-item-group>
    <button full large ion-button block ion-button [disabled]="submit" (click)="guardarCalificaciones()">Guardar</button>
</ion-content>
